#title {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
.motivation-img{
    border: 5px solid white;
    margin: 0px;
    width: 100%;
}
.text{
    margin: 0px;
    color: white;
    text-align: center;
}
#main{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}
html{
    background-color: black;
}